streamlit
google-generativeai
SpeechRecognition
transformers
textblob
wordcloud
matplotlib
torch
sentencepiece
pipwin; sys_platform == "win32"
pyaudio; sys_platform == "win32"
protobuf<4.0.0  # Compatibility with google-generativeai
numpy
pillow
